html { 
	background: url(../img/bg.jpg) no-repeat top center fixed;
	background-size: 100%;
	margin:0;
	padding:0;
	overflow:hidden;
	overflow-y:scroll;
}

body{
	font-family: 'Open Sans', sans-serif, Tahoma;
	background-color: #0f0f0f;
	margin:0;
	padding:0;
	color: #FDFFEF;
	max-width:100%;
}

.async-hide {
	opacity: 0 !important
}

.olkollen-info a {
	color: #FDFFEF;
}

.olkollen-info a:hover {
	text-decoration: none;
	color:#262626;
}

.container{
	width: 100%;
	max-width:100%;
	position: absolute;
	margin:0;
	padding:0;
}

.header{
	width: 100%;
	padding:200px 0;
	text-align: center;
}

.olkollen-container {
	width: 100%;
	background: #d24d4a;
	position:relative;
}

.olkollen-container:before{
    content:'';
    position:absolute;
    bottom:100%;
    max-width:100%;
    border-left:100vw solid transparent;
    border-bottom: 50px solid #d24d4a;
}

.olkollen {
	width: 70%;
	margin:0 12%;
	padding:25px;
	background: #d24d4a;
	max-width: 1200px
}

.olkollen-mockup {
	float:right;
	margin-top:-60px;
}

.olkollen-info {
	clear:left;
	line-height: 1.5em;
	font-weight: 400;
}

.boxmote-container {
	width: 100%;
	background: #262626;
	position:relative;
}

.boxmote-container:before{
    content:'';
    position:absolute;
    bottom:100%;
    border-left:100vw solid transparent;
    border-bottom: 50px solid #262626;
}

.boxmote {
	width: 70%;
	margin:0 12%;
	padding:25px;
	background: #262626;
}

.boxmote-mockup {
	float:left;
}

.boxmote-info {
	clear:right;
	text-align: left;
	line-height: 1.5em;
	font-weight: 400;
}

.cyrillic-container {
	width: 100%;
	background: #ddd;
	position:relative;
}

.cyrillic-container:before{
    content:'';
    position:absolute;
    bottom:100%;
    max-width:100%;
    border-left:100vw solid transparent;
    border-bottom: 50px solid #ddd;
}

.cyrillic {
	width: 70%;
	margin:0 12%;
	padding:25px;
	background: #ddd;
	max-width: 1200px
}

.cyrillic-mockup {
	float:right;
	margin-top:-60px;
}

.cyrillic-info {
	clear:left;
	line-height: 1.5em;
	font-weight: 400;
	color:#333;
}


.footer-container {
	width: 100%;
	background: #0f0f0f;
	position:relative;
}

.footer-container:before{
    content:'';
    position:absolute;
    bottom:100%;
    border-left:100vw solid transparent;
    border-bottom: 50px solid #0f0f0f;
}

.footer {
	width: 70%;
	margin:0 12%;
	padding:25px;
	background: #0f0f0f;
}

h1{
	font-size: 2em;
	font-weight: 400;
	margin: 10px;
}

h2{
	font-size: 1.7em;
	font-weight: 100;
	margin: 10px;
}

p{
	font-size: 1em;
	font-weight: 100;
}

.mail{
	text-decoration: none;
	color: #FFDE81;
	font-size:1.2em;
}

.mail:hover{
	text-decoration: none;
	color: #262626;
}

.twitter:hover{
	text-decoration: none;
	color: #FF009F;
}

@media only screen and (max-width: 1300px) {
	.header {
		padding:180px 0;
	}
}

@media only screen and (max-width: 1200px) {
	.app {
		width:100%;
	}
}

@media only screen and (max-width: 900px) {
	.olkollen, .boxmote, .cyrillic, .footer {
		width:70%;
		margin:0 12%;
	}
	.cyrillic .app-title {
		margin-bottom:60px;
	}
	.container{
		width: 100%;
		height: 100%;
		top: 0;
		margin-top: 0;
		background-color: rgba(0, 0, 0, 0.3);
	}
	.header{
		padding:100px 0;
	}
	.app {
		width:100%;
	}
}

@media only screen and (max-width: 630px) {
	.olkollen, .boxmote, .cyrillic, .footer {
		margin:0 4%;
		width:80%;
	}
	.container{
		width: 100%;
		height: 100%;
		top: 0;
		margin-top: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.header {
		padding:50px 0;
	}
	.logo {
		width:80%;
	}
	.content{
		width: 100%;
		margin-top: 0;
		top: 35%;
		background-color: transparent;	
	}
	h1{
		font-size: 40px;
	}
	h2{
		font-size: 20px;
	}
}

.social-links {
	float:right;
	margin:25px 15px;
}

.social {
	padding:10px 20px;
	margin-left: 10px;
}

.github {
	background:transparent url('../img/github.png') center top no-repeat;
	background-size: 40px 40px;
}

.github:hover {
	background-image: url('../img/github_filled.png');
}

.linkedin {
	background:transparent url('../img/linked_in.png') center top no-repeat;
	background-size: 40px 40px;
}

.linkedin:hover {
	background-image: url('../img/linked_in_filled.png');
}

.twitter {
	background:transparent url('../img/twitter.png') center top no-repeat;
	background-size: 40px 40px;
}

.twitter:hover {
	background-image: url('../img/twitter_filled.png');
}

.footer-links{
	list-style: none;
	margin-bottom: 1em;
	padding:0;
}

.footer-links li {
	padding:2px 0;
}

.footer-links a{
	color:#FDFFEF;
	text-decoration: none;
	font-size: 1em;
}

.footer-links a:hover{
	color:#d24d4a;
}